<div >   
        <p-table styleClass="p-datatable-gridlines" sortField="pontos" [sortOrder]="-1" [value]="times" [tableStyle]="{ 'width': '80%' }" >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 10%;">Time</th>
                    <th style="width: 10%;">Cartoleiro</th>
                    <th pSortableColumn="pontos" style="width: 2%;">Pontuação rodada
                        <p-sortIcon field="pontos"></p-sortIcon>
                    </th>
                    <th pSortableColumn="total" style="width: 2%;">Pontuação Mês
                        <p-sortIcon field="total"></p-sortIcon>
                    </th>
                    <th style="width: 1%;">Patrimonio</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-i="rowIndex">
                <tr>
                    <td style="display: flex; align-items: center;"> <img style="margin-right: 10px;" src={{product.escudo}} alt="escudo-time" width="20" height="20"> {{ i + 1+'º' }} {{ product.nome }}</td> 
                    <td>{{ product.cartoleiro }}</td>
                    <td>{{ product.pontos | number:'1.2-2' }}</td>
                    <td>{{ product.total | number:'1.2-2' }}</td>
                    <td>{{ 'R$'+product.patrimonio }}</td>
                </tr>
            </ng-template>
        </p-table>       
</div>